@use '../sass/index/index.scss' as *;

$logo-font: 'Pacifico', cursive;
$primary-font:  'Montserrat', sans-serif;

@keyframes cloud-left{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-332%);
    }
}
@keyframes cloud-right{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(100%);
    }
}


@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    90%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(15%);
    }
    60%{
       transform: translateY(20%);
    }
    90%{
       transform: translateY(25%);
    }
    100%{
       transform: translateY(0);
    }
}



*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    position: relative;
    font-size: 1.6rem;
    font-family: $primary-font;
    width: 100vw;
    height: 100%;
}


.background{
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    font-family: $primary-font;
    font-weight: normal;
}

img{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.nav-active{
    transform: translateX(0);
}



.hamburger{
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.hamburger-icon{
    padding: .7em;
    color: $light;
    font-size: 4rem;
}


.section-padding{
    padding: 2em 2em 7em 2em;
}

.section-title{
    padding: 2em 3em;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: $light;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.white-blocks{
    display: flex;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.square{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 25px 25px;
    border-color:  transparent $light transparent $light ;

  }

.white-blocks-up{
    display: flex;
    position: absolute;
    top: -25px;
    left: 0;
}


.nav-desktop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
    height: 10vh;
    padding: .8em;
    margin-left: auto;
    background-color: $light;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 10;
    
}

.nav-desktop::before{
    content: '';
    position: absolute;
    top: 0%;
    left: -7%;
    display: block;
    width: 40vw;
    height: 100%;
    background-color: $light;
    transform: skewX(45deg);
    z-index: 0;
}


.nav{
    font-family: $primary-font;


    &__link{
        position: relative;
        padding-right: 0.3em;
        text-decoration: none;
        color: $primary-color;
        transition: .3s;
        z-index: 0;
    }

    &__link::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: $primary-color;
            z-index: -1;
        
    }


    &__link:hover{
        color: $light;
    }

    &__link:hover::after{
        height: 100%;
        transition: .3s;
    }

}


.nav-hamburger{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    font-size: 4rem;
    text-transform: uppercase;
    background-color: $light;
    transition: transform .3s;
    z-index: 10;
}


.header{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
   


    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;        
        color: $primary-color;
        font-family: $logo-font;
        transform: translate(-50%, -50%);
        z-index: 20;
    }

    &__icon{
        padding-right: 0.2em;
        color: $light;
    }

   
    &__logo-title{
        position: fixed;
        left: 4%;
        top: 8%;
        display: flex;
        padding: 0.5em;
        color: $primary-color;
        font-family: $logo-font;
        font-size: 3rem;
        text-decoration: none;
        z-index: 10;
    }

    &__logo-icon{
        position: absolute;
        left: -12%;
        top: 30%;
        height: 3rem;
        width: 3rem;
        margin-right: 0.2em;
        color: $light;
        transform-origin: 50% 50%;
        animation: rotate 7s both linear infinite;

    }

    .fa-angle-down{
        position: absolute;
        bottom: 8%;
        left: 45%;
        font-size: 7rem;
        color: $light;
        animation: bounce 4s both linear infinite;
        z-index: 10;
    }
}



.aboutus{
    position: relative;
    height: 100%;
    background-image: linear-gradient(45deg, #0c46bb, #6595dd);

    .section-title{
        color: $light;
    }

    &__text-body{
        color: $light;
    }

    &__img{
        display: block;
        width: 100%;
        max-width: 100%;
       
    }

    &__text{
        padding-bottom: 3em;
        :nth-child(1){
            color: $primary-color;
        }
        :nth-child(2){
            padding-bottom: 1em;
        }
    }

    &__text-two{
        :nth-child(3){
            padding-bottom: 5em;
        }
    }
}

.africa__box, .america__box {
    padding: 3em;
}

.africa{
    position: relative;

    &__head{
        padding-top:  0.5em;
        color: $dark-blue;
        font-size: 3rem;
        font-family: $primary-font;
        font-weight: normal;
    }

    &__body{
        padding-bottom: 1em;
        color: $light;
        
    }

    &__text:last-child{
            padding-bottom: 2em;
    }


    &__info{ 
        padding: 4em 3em;
        color: $light;
        column-rule-style: dotted;
    }
}


.america{
    &__container{
        position: relative;
        width: 100vw;
        z-index: 0;
    }

    &__box{
        h3{
            padding-top: 0.9em;
            color: $dark-blue;
            font-family: $primary-font;
            font-weight: normal;
        }

        p{
            padding-top: 0.5em;
            color: $light;
        }
        z-index: 10;
    }

    &__box-text:last-child{
        padding-bottom: 2em;
    }

    &__info{
        padding-top: 3em;
        color: $light;
        column-rule-style: dotted;
    }

    &__info:last-child{
        padding-top: 2em;
    }


    .fa-cloud {
        position: absolute;
        color: rgba(235, 236, 238, 0.497);
        z-index: -10;
    }

    &__clouds{
       position: relative;
        right: -200%;
        animation: cloud-left 32s both linear infinite;
        
    }

    .cloud-up{
        font-size: 10rem;
    }

    .cloud-right{
        position: absolute;
        top: -5%;
        font-size: 3rem;
    }

    .cloud-down{
        position: relative;
        top: 170%;
    
        font-size: 10rem;
        animation: cloud-right 22s linear both infinite;
    }
}

.gallery{
    position: relative;
    height: 100%;
    background-image: linear-gradient(45deg, $primary-color, $dark-blue);


    
    h2{
        font-weight: bold;
    }

    h3{
        padding-top: 5em;
    }

    &__links{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 20vh;
        width: 50vw;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;

      


        a{
            text-decoration: none;
            color: $light;
        }

    }

    &__link{
        position: relative;
    }

    &__link::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        height: 3px;
        width: 0;
        margin: 0 auto;
        background-color: $light;
        transition: .3s ease width;
    }

    &__link:hover::before{
        width: 100%;
        
    }

   &__box{
    display: grid;
   }

    &__img{
        padding: 2em;
    }
    
}






@media (min-width: 1021px) and (max-width: 1303px){
    .nav-desktop{
        width: 60vw;
    }
}
@media (min-width: 900px) and (max-width: 1021px){
    .nav-desktop{
        width: 70vw;
    }
}
@media (min-width: 800px) and (max-width: 900px){
    .nav-desktop{
        width: 75vw;
    }
}
@media (min-width: 600px) and (max-width: 800px){
    .nav-desktop{
        width: 80vw;
    }
}
@media (max-width: 768px){
    .header__logo-title{
        display: none;
    }

    .nav-desktop{
        display: none;
    }
}

