@media (min-width: 0) {
  .nav-hamburger {
    transform: translateX(-102%);
  }
}
@media (min-width: 0) and (max-width: 768px) {
  br {
    display: block;
  }
  .america__info p {
    padding-top: 1em;
  }
  .asia h3 {
    padding-top: 1em;
  }
  .asia__box-text:last-child {
    padding-bottom: 2em;
  }
  .gallery__box {
    grid-template-columns: 1fr;
  }
  .contact__container .sub .submit {
    width: 40vw;
  }
}
@media (min-width: 0) and (max-width: 992px) {
  .header {
    background-image: linear-gradient(45deg, rgba(23, 69, 162, 0.5019607843), rgba(95, 156, 247, 0.431372549)), url("../img/sea-1284368_640.jpg");
  }
  .header__background-large {
    display: none;
  }
  .header__background-small {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .africa {
    background-image: linear-gradient(45deg, rgba(90, 62, 3, 0.581), rgba(163, 166, 10, 0.389)), url("../img/africa/antelope-4121962_640.jpg");
  }
  .africa__head {
    padding-top: 0.8em;
  }
  .america {
    background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)), url("../img/south-america/beach-778246_640.jpg");
  }
  .america__box {
    padding: 2em;
  }
  .america__box-one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .america__box-two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .america__box-three {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .asia {
    background-image: linear-gradient(45deg, rgba(161, 6, 52, 0.581), rgba(135, 10, 166, 0.389)), url("../img/asia/asia-640.jpg");
  }
  .gallery__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
  }
}
@media (max-width: 576px) {
  .header {
    width: 200vw;
  }
  .header__title {
    font-size: 4rem;
  }
  .header__icon {
    font-size: 4rem;
  }
  .header .white-blocks {
    overflow-x: hidden;
  }
  .asia__box {
    padding-top: 1em;
    padding-left: 1em;
  }
}
@media (min-width: 576px) {
  .aboutus__img {
    padding-bottom: 1em;
  }
  .aboutus__text {
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  br {
    display: none;
  }
  .asia__container {
    grid-template-columns: 1fr 1fr;
  }
  .gallery__box {
    grid-template-columns: 1fr 1fr;
  }
  .asia__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
  }
  .asia__box h3 {
    padding-bottom: 1em;
  }
  .asia__box p {
    padding-bottom: 0.53em;
  }
  .asia__box-text {
    padding-left: 0.8em;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .header__title {
    font-size: 5rem;
  }
  .header__icon {
    font-size: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .africa__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .africa__head {
    padding-top: 0;
  }
  .africa__img {
    grid-column: 1/2;
    padding-right: 1.3em;
  }
  .africa__text {
    grid-column: 2/3;
  }
  .africa__info {
    -moz-column-count: 2;
         column-count: 2;
  }
  .america__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .america__box {
    padding-right: 2em;
  }
  .america__info {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: linear-gradient(45deg, rgba(23, 69, 162, 0.5019607843), rgba(95, 156, 247, 0.431372549)), url("../img/sea-1284368_1920.jpg");
  }
  .header__background-large {
    display: block;
  }
  .header__background-small {
    display: none;
  }
  .header__title {
    font-size: 7rem;
  }
  .header__icon {
    font-size: 7rem;
  }
  .aboutus {
    display: grid;
  }
  .aboutus__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutus__img {
    padding-bottom: 3em;
    grid-column: 1/2;
  }
  .aboutus__text {
    grid-column: 2/3;
    padding: 0.5em 2em;
  }
  .aboutus__text :nth-child(1) {
    font-size: 3rem;
    padding-bottom: 0.5em;
  }
  .aboutus__img-two {
    grid-column: 2/3;
  }
  .aboutus__text-two {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
  .africa {
    background-image: linear-gradient(45deg, rgba(245, 171, 13, 0.581), rgba(163, 166, 10, 0.389)), url("../img/africa/antelope-4121962_1920.jpg");
  }
  .africa__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .africa__head {
    padding-top: 0;
  }
  .africa__img {
    grid-column: 1/2;
    padding-right: 1.3em;
  }
  .africa__text {
    grid-column: 2/3;
  }
  .africa__img-two {
    padding-left: 1.3em;
    grid-row: 1;
    grid-column: 2/3;
  }
  .africa__text-two {
    grid-column: 1/2;
    text-align: right;
  }
  .africa__info {
    -moz-column-count: 3;
         column-count: 3;
  }
  .america {
    background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)), url("../img/south-america/beach-778246_1920.jpg");
  }
  .america__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .america__box-one {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .america__box-two {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .america__box-three {
    grid-row: 3/4;
    grid-column: 3/4;
    padding-right: 1em;
  }
  .america__info {
    -moz-column-count: 3;
         column-count: 3;
  }
  .asia {
    background-image: linear-gradient(45deg, rgba(161, 6, 52, 0.581), rgba(135, 10, 166, 0.389)), url("../img/asia/asia-1920.jpg");
  }
  .gallery__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery__link {
    padding: 1em;
    margin: 2em;
  }
  .gallery__box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@-webkit-keyframes cloud-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-332%);
  }
}
@keyframes cloud-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-332%);
  }
}
@-webkit-keyframes cloud-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(332%);
  }
}
@keyframes cloud-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(332%);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100%;
}

.background {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.nav-active {
  transform: translateX(0);
}

.hamburger {
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.hamburger-icon {
  padding: 0.7em;
  color: #FFF7E9;
  font-size: 4rem;
}

.section-padding {
  padding: 2em 2em 7em 2em;
}

.section-title {
  padding: 2em 3em;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #FFF7E9;
}

.white-blocks {
  display: flex;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.square {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 25px 25px;
  border-color: transparent #FFF7E9 transparent #FFF7E9;
}

.white-blocks-up {
  display: flex;
  position: absolute;
  top: -25px;
  left: 0;
}

.nav-desktop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
  height: 10vh;
  padding: 0.8em;
  margin-left: auto;
  background-color: #FFF7E9;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 10;
}

.nav-desktop::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -7%;
  display: block;
  width: 40vw;
  height: 100%;
  background-color: #FFF7E9;
  transform: skewX(45deg);
  z-index: 0;
}

.nav {
  font-family: "Montserrat", sans-serif;
}
.nav__link {
  position: relative;
  padding-right: 0.3em;
  text-decoration: none;
  color: #FF731D;
  transition: 0.3s;
  z-index: 0;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FF731D;
  z-index: -1;
}
.nav__link:hover {
  color: #FFF7E9;
}
.nav__link:hover::after {
  height: 100%;
  transition: 0.3s;
}

.nav-hamburger {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: #FFF7E9;
  transition: transform 0.3s;
  z-index: 10;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF731D;
  font-family: "Pacifico", cursive;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.header__icon {
  padding-right: 0.2em;
  color: #FFF7E9;
}
.header__logo-title {
  position: fixed;
  left: 4%;
  top: 8%;
  display: flex;
  padding: 0.5em;
  color: #FF731D;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  text-decoration: none;
  z-index: 10;
}
.header__logo-icon {
  position: absolute;
  left: -12%;
  top: 30%;
  height: 3rem;
  width: 3rem;
  margin-right: 0.2em;
  color: #FFF7E9;
  transform-origin: 50% 50%;
  -webkit-animation: rotate 7s both linear infinite;
          animation: rotate 7s both linear infinite;
}
.header .fa-angle-down {
  position: absolute;
  bottom: 8%;
  left: 45%;
  font-size: 7rem;
  color: #FFF7E9;
  -webkit-animation: bounce 4s both linear infinite;
          animation: bounce 4s both linear infinite;
  z-index: 10;
}

.aboutus {
  position: relative;
  height: 100%;
  background-image: linear-gradient(45deg, #0c46bb, #6595dd);
}
.aboutus .section-title {
  color: #FFF7E9;
}
.aboutus__text-body {
  color: #FFF7E9;
}
.aboutus__img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.aboutus__text {
  padding-bottom: 3em;
}
.aboutus__text :nth-child(1) {
  color: #FF731D;
}
.aboutus__text :nth-child(2) {
  padding-bottom: 1em;
}
.aboutus__text-two :nth-child(3) {
  padding-bottom: 5em;
}

.africa__box, .aboutus__box {
  padding: 1em;
}

.africa {
  position: relative;
}
.africa__head {
  padding-top: 0.5em;
  color: #1746A2;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.africa__body {
  padding-bottom: 1em;
  color: #FFF7E9;
}
.africa__text:last-child {
  padding-bottom: 2em;
}
.africa__info {
  padding: 4em 3em;
  color: #FFF7E9;
  -moz-column-rule-style: dotted;
       column-rule-style: dotted;
}

.america__container {
  position: relative;
  padding: 7em;
  width: 100vw;
  z-index: 0;
}
.america__box {
  z-index: 10;
}
.america__box h3 {
  padding-top: 0.9em;
  color: #FF731D;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.america__box p {
  padding-top: 0.5em;
  color: #FFF7E9;
}
.america__box-text:last-child {
  padding-bottom: 2em;
}
.america__info {
  padding-top: 3em;
  color: #FFF7E9;
  -moz-column-rule-style: dotted;
       column-rule-style: dotted;
}
.america__info:last-child {
  padding-top: 2em;
}
.america .fa-cloud {
  position: absolute;
  color: rgba(235, 236, 238, 0.497);
  z-index: -10;
}
.america__clouds {
  position: relative;
  right: -200%;
  -webkit-animation: cloud-left 42s both linear infinite;
          animation: cloud-left 42s both linear infinite;
}
.america .cloud-up {
  font-size: 10rem;
}
.america .cloud-right {
  position: absolute;
  top: -5%;
  font-size: 3rem;
}
.america .cloud-down {
  position: relative;
  top: 170%;
  left: -240%;
  font-size: 10rem;
  -webkit-animation: cloud-right 42s linear both infinite;
          animation: cloud-right 42s linear both infinite;
}

.gallery {
  position: relative;
  height: 100%;
  background-image: linear-gradient(45deg, #1746A2, #5F9DF7);
}
.gallery h2 {
  padding-right: 1.2em;
  font-weight: bold;
  text-align: center;
}
.gallery h3 {
  padding-top: 5em;
}
.gallery__links {
  position: relative;
  height: 50vh;
  width: 100vw;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.gallery__links a {
  text-decoration: none;
  color: #FFF7E9;
}
.gallery__link {
  position: relative;
  padding: 0.2em;
}
.gallery__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  height: 3px;
  width: 0;
  margin: 0 auto;
  background-color: #FFF7E9;
  transition: 0.3s ease width;
}
.gallery__link:hover::before {
  width: 100%;
}
.gallery__box {
  display: grid;
}
.gallery__img {
  padding: 2em;
}

.asia {
  position: relative;
  color: #FFF7E9;
  z-index: 0;
}
.asia h3 {
  color: #5F9DF7;
}

.contact {
  background-image: linear-gradient(45deg, rgb(197, 197, 24), rgba(255, 251, 0, 0.589));
  height: 100%;
  color: black;
  padding-bottom: 5em;
}
.contact h2 {
  z-index: 1000;
  color: black;
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .name, .contact .message, .contact .email {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-transform: uppercase;
}
.contact label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
  font-size: 2rem;
}
.contact textarea {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
}
.contact .submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #FFF7E9;
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(45deg, #5F9DF7, #1746A2);
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}
.contact .submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 20vw;
  height: 20vw;
  border: 1px rgba(255, 255, 255, 0.452) solid;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.737), rgba(255, 255, 255, 0.31));
  transform: rotate(20deg);
  transition: transform 0.3s;
}
.contact .submit:hover::before {
  transform: translateX(400%);
}

.footer__bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: #FFF7E9;
  color: #FF731D;
  text-transform: uppercase;
}

@media (min-width: 1021px) and (max-width: 1303px) {
  .nav-desktop {
    width: 60vw;
  }
}
@media (min-width: 900px) and (max-width: 1021px) {
  .nav-desktop {
    width: 70vw;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .nav-desktop {
    width: 75vw;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .nav-desktop {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .header__logo-title {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */