@font-face {
  font-family: "alefbold";
  src: url("../../fonts/alef-bold-webfont.woff2") format("woff2"), url("../../fonts/alef-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "alefregular";
  src: url("../../fonts/alef-regular-webfont.woff2") format("woff2"), url("../../fonts/alef-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "frente_h1regular";
  src: url("../../fonts/frenteh1-regular-webfont.woff2") format("woff2"), url("../../fonts/frenteh1-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 0) and (max-width: 768px) {
  br {
    display: block;
  }
  .nav-hamburger {
    transform: translateX(-102%);
  }
}
@media (min-width: 0) and (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .header {
    background-image: url("../../img/sea-1284368_640.jpg");
  }
  .africa {
    background-image: linear-gradient(45deg, rgba(170, 137, 7, 0.596), rgba(167, 196, 2, 0.727)), url("../../img/africa/antelope-4121962_640.jpg");
  }
  .africa__head {
    padding-top: 0.8em;
  }
  .america {
    background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)), url("../../img/south-america/beach-778246_640.jpg");
  }
}
@media (max-width: 576px) {
  .header {
    width: 200vw;
  }
  .header__title {
    font-size: 4rem;
  }
  .header__icon {
    font-size: 4rem;
  }
  .header .white-blocks {
    overflow-x: hidden;
  }
}
@media (min-width: 576px) {
  .aboutus__img {
    padding-bottom: 1em;
  }
  .aboutus__text {
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  br {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .header__title {
    font-size: 5rem;
  }
  .header__icon {
    font-size: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .africa__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .africa__head {
    padding-top: 0;
  }
  .africa__img {
    grid-column: 1/2;
    padding-right: 1.3em;
  }
  .africa__text {
    grid-column: 2/3;
  }
  .africa__info {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: url("../../img/sea-1284368_1920.jpg");
  }
  .header__title {
    font-size: 7rem;
  }
  .header__icon {
    font-size: 7rem;
  }
  .aboutus {
    display: grid;
  }
  .aboutus__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutus__img {
    padding-bottom: 3em;
    grid-column: 1/2;
  }
  .aboutus__text {
    grid-column: 2/3;
    padding: 0.5em 2em;
  }
  .aboutus__text :nth-child(1) {
    font-size: 3rem;
    padding-bottom: 0.5em;
  }
  .aboutus__img-two {
    grid-column: 2/3;
  }
  .aboutus__text-two {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
  .africa {
    background-image: linear-gradient(45deg, rgba(170, 137, 7, 0.596), rgba(167, 196, 2, 0.727)), url("../../img/africa/antelope-4121962_1920.jpg");
  }
  .africa__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .africa__head {
    padding-top: 0;
  }
  .africa__img {
    grid-column: 1/2;
    padding-right: 1.3em;
  }
  .africa__text {
    grid-column: 2/3;
  }
  .africa__img-two {
    padding-left: 1.3em;
    grid-row: 1;
    grid-column: 2/3;
  }
  .africa__text-two {
    grid-column: 1/2;
    text-align: right;
  }
  .africa__info {
    -moz-column-count: 3;
         column-count: 3;
  }
  .america {
    background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)), url("../../img/south-america/beach-778246_640.jpg");
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "alefregular", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.nav-active {
  transform: translateX(0);
}

.background {
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hamburger {
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.hamburger-icon {
  padding: 0.7em;
  color: #FFF7E9;
  font-size: 4rem;
}

.section-padding {
  padding: 2em 2em 7em 2em;
}

.section-title {
  padding: 2em 3em;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  color: #FFF7E9;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.white-blocks {
  display: flex;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.square {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 25px 25px;
  border-color: transparent #FFF7E9 transparent #FFF7E9;
}

.white-blocks-up {
  display: flex;
  position: absolute;
  top: -25px;
  left: 0;
}

.nav-desktop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45vw;
  height: 10vh;
  padding: 0.8em;
  margin-left: auto;
  background-color: #FFF7E9;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 10;
}

.nav-desktop::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -7%;
  display: block;
  width: 40vw;
  height: 100%;
  background-color: #FFF7E9;
  transform: skewX(45deg);
  z-index: 0;
}

.nav__link {
  position: relative;
  padding-right: 0.3em;
  text-decoration: none;
  color: #FF731D;
  font-weight: bold;
  transition: 0.3s;
  z-index: 0;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FF731D;
  z-index: -1;
}
.nav__link:hover {
  color: #FFF7E9;
}
.nav__link:hover::after {
  height: 100%;
  transition: 0.3s;
}

.nav-hamburger {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: #FFF7E9;
  transition: transform 0.3s;
  z-index: 10;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #FF731D;
  z-index: 10;
}
.header__icon {
  padding-right: 0.2em;
  color: #FFF7E9;
}
.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(23, 69, 162, 0.5019607843), rgba(95, 156, 247, 0.431372549));
  z-index: -1;
}
.header__logo-title {
  position: fixed;
  left: 2%;
  top: 8%;
  display: flex;
  padding: 0.5em;
  color: #FF731D;
  font-size: 3rem;
  text-decoration: none;
  z-index: 10;
}
.header__logo-icon {
  height: 3rem;
  width: 3rem;
  margin-right: 0.2em;
  color: #FFF7E9;
  transform-origin: 50% 50%;
  -webkit-animation: rotate 7s both linear infinite;
          animation: rotate 7s both linear infinite;
}
.header .fa-angle-down {
  position: absolute;
  bottom: 8%;
  left: 45%;
  font-size: 7rem;
  color: #FFF7E9;
  -webkit-animation: bounce 4s both linear infinite;
          animation: bounce 4s both linear infinite;
}

.aboutus {
  position: relative;
  height: 100%;
  background-image: linear-gradient(45deg, #0c46bb, #6595dd);
}
.aboutus .section-title {
  color: #FFF7E9;
}
.aboutus__text-body {
  color: #FFF7E9;
}
.aboutus__img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.aboutus__text {
  padding-bottom: 3em;
}
.aboutus__text :nth-child(1) {
  color: #FF731D;
}
.aboutus__text :nth-child(2) {
  padding-bottom: 1em;
}
.aboutus__text-two :nth-child(3) {
  padding-bottom: 5em;
}

.africa {
  position: relative;
}
.africa__head {
  padding-top: 0.5em;
  color: #1746A2;
  font-size: 3rem;
  font-family: "alefbold";
}
.africa__body {
  padding-bottom: 1em;
  color: #FFF7E9;
}
.africa__text:last-child {
  padding-bottom: 2em;
}
.africa__info {
  padding: 4em 3em;
  color: #FFF7E9;
  -moz-column-rule-style: dotted;
       column-rule-style: dotted;
}

@media (min-width: 1021px) and (max-width: 1303px) {
  .nav-desktop {
    width: 60vw;
  }
}
@media (min-width: 900px) and (max-width: 1021px) {
  .nav-desktop {
    width: 70vw;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .nav-desktop {
    width: 75vw;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .nav-desktop {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .header__logo-title {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */