@use './colors' as *;

@media (min-width: 992px){
 .header{
    &__title{
        font-size: 7rem;
    }

    &__icon{
        font-size: 7rem;
    }
 }   

 .aboutus{
    display: grid;

    
    &__box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        
    }



    &__img{
        padding-bottom: 3em;
        grid-column: 1/2;

    }

    &__text{
        grid-column: 2/3;
        padding: .5em 2em;

        :nth-child(1){
            font-size: 3rem;
            padding-bottom: 0.5em;
            
        }

        
    }

    &__img-two{
        grid-column: 2/3;
    }

    &__text-two{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
    }
 }
}