@use './colors';
@use '../utilities/fonts' as *;

@media (min-width: 768px){

    .hamburger{
        display: none;
    }

    br{
        display: none;
    }

    .gallery{
        &__box{
            grid-template-columns: 1fr 1fr;
           }
    }
}

@media (min-width: 576px) and (max-width: 992px){
 .header{

    &__title{
        font-size: 5rem;
    }

    &__icon{
        font-size: 5rem;;
    }
 }   


 }



@media (min-width: 768px) and (max-width: 992px){
    .africa{
        &__box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 1em;
        }

        &__head{
            padding-top: 0;
        }
    
        &__img{
            grid-column: 1/2;
            padding-right: 1.3em;
        }
    
        &__text{
            grid-column: 2/3;
        }
    

        &__info{
            column-count: 2;

        }
     }

     .america{
        &__container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        
        &__box{
            padding-right: 2em;
        }
        &__info{
            column-count: 2;
         }
    }
     }

    