@use './colors';

@media (max-width: 576px){

 .header{ width: 200vw;

    &__title{
        font-size: 4rem;
    }

    &__icon{
        font-size: 4rem;;
    }

    .white-blocks{
        overflow-x: hidden;
    }
 }   
}

@media (min-width: 576px){
    .aboutus{
        &__img{
            padding-bottom: 1em;
        }

        &__text{
            padding-bottom: 1em;
        }
    }
}