@use './colors';
@use '../utilities/fonts' as *;

@media (min-width: 0){
    .nav-hamburger{
        transform: translateX(-102%);
    }
}

@media (min-width: 0) and (max-width: 768px){
    br{
        display: block;
    }

    .america{
        &__info{
            p{
                padding-top: 1em;
            }
        }
    }


    .gallery{
       &__box{
        grid-template-columns: 1fr;
       }
    }

}

@media (min-width: 0) and (max-width: 992px){

    .header{
        background-image: linear-gradient(45deg, #1745a280, #5f9cf76e), url('../img/sea-1284368_640.jpg');

        &__background-large{
            display: none;
        }
        &__background-small{
            display: block;
        }
    }

    .hamburger{
        display: block;
    }

    

    .africa{
        background-image: linear-gradient(45deg, rgba(90, 62, 3, 0.581), rgba(163, 166, 10, 0.389)), url('../img/africa/antelope-4121962_640.jpg');

        &__head{
            padding-top: .8em;
        }
    }

    .america{
        background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)) ,url('../../img/south-america/beach-778246_640.jpg');
    }
}




@media (max-width: 576px){

 .header{ 
    width: 200vw;

    &__title{
        font-size: 4rem;
    }

    &__icon{
        font-size: 4rem;;
    }

    .white-blocks{
        overflow-x: hidden;
    }
 }   
}



@media (min-width: 576px){
    .aboutus{
        &__img{
            padding-bottom: 1em;
        }

        &__text{
            padding-bottom: 1em;
        }
    }
    
}