@media (min-width: 0) {
  .nav-hamburger {
    transform: translateX(-102%);
  }
}
@media (min-width: 0) and (max-width: 768px) {
  br {
    display: block;
  }
  .america__info p {
    padding-top: 1em;
  }
}
@media (min-width: 0) and (max-width: 992px) {
  .header__background-large {
    display: none;
  }
  .header__background-small {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .africa {
    background-image: linear-gradient(45deg, rgba(90, 62, 3, 0.581), rgba(163, 166, 10, 0.389)), url("../img/africa/antelope-4121962_640.jpg");
  }
  .africa__head {
    padding-top: 0.8em;
  }
  .america {
    background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)), url("../../img/south-america/beach-778246_640.jpg");
  }
}
@media (max-width: 576px) {
  .header {
    width: 200vw;
  }
  .header__title {
    font-size: 4rem;
  }
  .header__icon {
    font-size: 4rem;
  }
  .header .white-blocks {
    overflow-x: hidden;
  }
}
@media (min-width: 576px) {
  .aboutus__img {
    padding-bottom: 1em;
  }
  .aboutus__text {
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  br {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .header__title {
    font-size: 5rem;
  }
  .header__icon {
    font-size: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .africa__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .africa__head {
    padding-top: 0;
  }
  .africa__img {
    grid-column: 1/2;
    padding-right: 1.3em;
  }
  .africa__text {
    grid-column: 2/3;
  }
  .africa__info {
    -moz-column-count: 2;
         column-count: 2;
  }
  .america__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .america__box {
    padding-right: 2em;
  }
  .america__info {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 992px) {
  .header__background-large {
    display: block;
  }
  .header__background-small {
    display: none;
  }
  .header__title {
    font-size: 7rem;
  }
  .header__icon {
    font-size: 7rem;
  }
  .aboutus {
    display: grid;
  }
  .aboutus__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutus__img {
    padding-bottom: 3em;
    grid-column: 1/2;
  }
  .aboutus__text {
    grid-column: 2/3;
    padding: 0.5em 2em;
  }
  .aboutus__text :nth-child(1) {
    font-size: 3rem;
    padding-bottom: 0.5em;
  }
  .aboutus__img-two {
    grid-column: 2/3;
  }
  .aboutus__text-two {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
  .africa {
    background-image: linear-gradient(45deg, rgba(245, 171, 13, 0.581), rgba(163, 166, 10, 0.389)), url("../../img/africa/antelope-4121962_640.jpg");
  }
  .africa__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .africa__head {
    padding-top: 0;
  }
  .africa__img {
    grid-column: 1/2;
    padding-right: 1.3em;
  }
  .africa__text {
    grid-column: 2/3;
  }
  .africa__img-two {
    padding-left: 1.3em;
    grid-row: 1;
    grid-column: 2/3;
  }
  .africa__text-two {
    grid-column: 1/2;
    text-align: right;
  }
  .africa__info {
    -moz-column-count: 3;
         column-count: 3;
  }
  .america {
    background-image: linear-gradient(45deg, rgba(3, 90, 7, 0.581), rgba(10, 166, 10, 0.389)), url("../../img/south-america/beach-778246_1920.jpg");
  }
  .america__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .america__box-one {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .america__box-two {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .america__box-three {
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .america__info {
    -moz-column-count: 3;
         column-count: 3;
  }
}/*# sourceMappingURL=index.css.map */